.rangeValue {
  transform: translateY(2.5vh);
  position: relative;
  display: block;
  text-align: center;
  color: #999;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
}
.range {
  transform: translateY(2.8vh);
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  width: 10vw;
  height: 10px;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 1px;
  padding: 10px 2px;
  -webkit-appearance: none;
  background: #162944;
  outline: none;
  overflow: hidden;
  box-shadow: inset 1px 0 0px rgb(216, 2, 134);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(216, 2, 134);
  box-shadow: -407px 0 0 400px rgb(216, 2, 134);
}
